p{
    font-family: "Robot Regular", "Helvetica";
    color: #C6C79A;
}
#bar{
    font-family: "Arial";
    color: #B36D2E;
}

#barDiv{
    background-color: #B3D3EB;
    position: relative;
    top: 10px;
}

#entire{
    background-color: #00768A;
}

#header{
    color: lightgoldenrodyellow;
    font-family: "Helvetica";
    position:relative;
    left: 3%;
}

#explain{
    position: relative;
    top: -17px;
    left: 3%;
}

#container{
    display: flex;
    flex-direction : row;
    nav {
    flex: 0 1 20%;
}
    #main {
    flex: 0 1 60%;
}
    aside {
    flex: 0 1 20%;
}
}

#dateDiv{
    position: relative;
    top: -4%;
    left: 3%;
}

#titleDiv{
    position: relative;
    top: -4%;
    left: 3%;
}

#contentsDiv{
    position: relative;
    top: -4%;
    left: 3%;
}

#button{
    position: relative;
    top: -15px;
    left: 50%;
}


