p{
    font-family: "Robot Regular", "Helvetica";
    color: #C6C79A;
}

#container{
    background-color: #00768A;
    height: 1200px;
}

#bar{
    font-family: "Arial";
    color: #B36D2E;
}



#barDiv{
    background-color: #B3D3EB;
    position: relative;
    top: 10px;
    left: 1%;
}

#header{
    color: lightgoldenrodyellow;
    font-family: "Helvetica";
    position:relative;
    left: 2%;
}

#explain{
    position: relative;
    top: px;
    left: 2%;
}

#dateDiv{
    position: relative;
    top: -4%;
    left: 3%;
}

#titleDiv{
    position: relative;
    top: -4%;
    left: 3%;
}

textarea{
    position: relative;
    top: -4%;
    left: 3%;
    width: 96%;
    height: 350px;
    resize: none;
}

#button{
    position: relative;
    left: 50%;
}


